<<<<<<< HEAD
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    background-color: #4b1F0E;
    display:flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
}
.logo{
    color:cornsilk;
    letter-spacing: 5px;
    transition: 7s ease;
}
.nav-links li{
    list-style: none;
/* Difference of text-decoration: and list-style: ;; */
}
.nav-links{
  width: 30%;
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.nav-links a{
    color: cornsilk;
}
.burger div{
    background-color: cornsilk;
    width: 20px;
    height: 5px;
    margin: 5px;
/*margin Used for spacing */
/* more abouta humburger menu */
=======
#cofee2{
    padding-top: 30px;
}
.container{
background-color:#4B1F0E;
}
img{
    height:200px;
    width: 200px;

}
.card-title,.card-text{
    text-align: center;
}
.button{
    text-align: center;
    background-color:#D2691E ;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color:white
    
   
    
}
.button,a{
    color:whitesmoke;
    
    margin-left: 90px;
}
#h3{
    text-align:center;
    color:whitesmoke;
}
#p{
    color:whitesmoke;
    text-align:center;
    
>>>>>>> 0e74a33e3cc4426bc281a7f4456a024c194c6a20
}
